@import "layouts";

.about{
    width: 82.5%;
    @include margin;
    display: flex;
    margin-top: -2.5em;
    .about-first{
        width: 50%;
        .h2{
            text-transform: uppercase;
        }
        .photo-box{
            width: 100%;
            display: flex;
            align-items: center;
            padding: 10px 0;
            display: none;
            .photo{
                width: 230px;
                height: 230px;
                background: #111;            
                @include margin;
                border-radius: 100%;
                border: 4px solid #252525;
                box-shadow: 0 0 7px rgba(0,0,0,.9);
                overflow: hidden;
                .photo-int{
                    width: 100%;
                    height: 100%;
                    background-image: url("../img/perfil.png");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }    
        .about-personal{
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-bottom: 1em;
            .h3{
                font-weight: 500;
                color: #ddd;
                margin: 0;
                margin-bottom: 1.25em;
                a{
                    color: white;
                }
            }
        }
    }
    .about-second{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 50%;
        grid-gap: 30px;
        .squares-item{
            padding: 10px 30px 10px 40px;
            border: 1px solid #252525;
            border-radius: 5px;
            .h1{
                color: $c3;
                position: relative;
                line-height: 0;
                &::after{
                    content: '%';
                    font-size: 35px;
                    position: absolute;
                    top: 0em;
                    font-weight: 400;
                }
            }
            .squares-item-second{
                display: flex;
                span{
                    display: block;
                    width: 35px;
                    background: white;
                    height: 1px;
                    position: relative;
                    opacity: .5;
                    margin-top: .25em;
                }
                .h3{
                    text-transform: uppercase;
                    padding: 0 15px;
                    margin-top: -.5em;
                }
            }
        }
    }
}

.skills{
    margin-top: 4em;
    padding: 2em 0 3em 0;
    width: 75%;
    @include margin;
    position: relative;
    &::before{
        width: 42.5%;
        margin-left: 50%;
        transform: translate(-50%);
        position: absolute;
        top: 0;
        background: #252525;
        height: 1px;
        content: '';
    }
    &::after{
        width: 42.5%;
        margin-left: 50%;
        transform: translate(-50%);
        position: absolute;
        bottom: 0;
        background: #252525;
        height: 1px;
        content: '';
    }
    .h2{
        text-align: center;
    }
    .skills-img{
        width: 100%;
        position: relative;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-gap: 40px 30px;
        margin-top: 3em;
        .skills-img-item{
            position: relative;
            padding-bottom: 3em;
            img{
                width: 80px;
                margin-left: 50%;
                transform: translate(-50%);
                opacity: .9;
            }
            .h3{
                text-transform: uppercase;
                @include flex;
                margin-top: 0;
                position: absolute;
                bottom: 0;
                margin-left: 50%;
                width: 100%;
                transform: translate(-50%);
            }
        }
    }
}

.experience{
    width: 82.5%;
    @include margin;
    padding: 2em 0 6em 0;
    .h2{
        text-align: center;
    }
    .experience-grid{
        margin-top: 3em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 45px 25px;
        position: relative;
        .experience-item{
            padding: 0 0 0 2.5em;
            border-left: 1px solid #252525;
            margin: 0 1.5em;
            position: relative;
            .span-grid{
                font: 600 12px $open;
                color: #fff;
                line-height: 19px;
                background: #212121;
                border-radius: 10em;
                padding: 3px 10px;
                opacity: .8;
            }
            .h2{
                text-align: left;
                font: 500 18px $pop;
                line-height: 22px;
                display: flex;
                align-items: center;
                width: 100%;
                margin-top: 1em;
                a{  
                    font: 600 15px $open;
                    opacity: .8;
                }
            }
            .h3{
                margin-top: -.5em;
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 0;
            }
            .span-y{
                background: $c3;
                border-radius: 10em;
                width: 40px;
                height: 40px;
                @include flex;
                color: white;
                position: absolute;
                top: 0;
                font-size: 14px;
                left: -20px;
            }
        }
    }
}

@import 'responsive';